# TODO: check if pyenv installed, and include installation in initial setup script
export PYENV_ROOT="$HOME/.pyenv"
[[ -d $PYENV_ROOT/bin ]] && export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init -)"

{{ if eq .chezmoi.os "linux" -}}
eval "$(keychain --quiet --eval --agents ssh id_rsa)"
{{ end -}}
{{ if eq .chezmoi.os "darwin" -}}
{{ output "/opt/homebrew/bin/brew" "shellenv" | trim }}
{{ end -}}
